
<div class="row">
  
    <div class="col-sm-6 mt-4" align="center" >
      <p style="font-size: 20px;">Приложение: <font style="color:blue">Цвет </font>  <font style="color:green"> текста</font></p>
      <div class="col-sm-12 p-2 mt-2"><a  class="btn btn-primary" routerLink="/v">Варианты</a></div>
      <div class="col-sm-12 p-2 mt-2"><a class="btn btn-primary" routerLink="/t">Текст</a></div>
      <div class="col-sm-12 p-2 mt-2"><a class="btn btn-primary"  routerLink="/c">Список цветов</a></div>
    <small class="text-secondary">приложение создано для разминки мозгов</small>
    </div>
  </div>
  